logo-slider {
  
  $slider-duration  : var(--slider-duration, 5s);
  $slider-gap       : var(--slider-gap, max(16px, max(16px, 2vw)));
  $slider-min-width : var(--min-width, 320);
  $slider-max-width : var(--max-width, 1920);
  
  overflow: hidden;
  max-width: 1920px;
  min-width : 320px;
  width: 100%;
	display: flex;
  padding-block:5px;
  
  @keyframes marquee {
    0%   { transform: translateX(0%); }
    100% { transform: translateX(calc(-50% - (#{$slider-gap} * 2))); }
  }

  > div {
		display: flex;
    align-items: center;
    animation: marquee calc(#{$slider-duration} + (var(--variable-duration, 0s) * 10)) linear infinite;
    justify-content: space-between;
    gap:$slider-gap;
    img { 
      height:clamp(50%, 10vw, 100%);
      max-width:150px;
      max-height:100px;
      object-fit:contain;
      display:block;
    }
    a { 
      outline:1px solid white;
    }
    > * { 
      &:where(:nth-child(1), :nth-child(21)) { outline:5px dashed red; }
      &:where(:nth-child(20), :nth-child(40)) { outline:5px dashed yellow; }
    }
    &:hover {
      animation-play-state: paused;
    }
	}
		
  @media (min-width:1920px) {
    -webkit-mask-image: linear-gradient(to right, transparent, white 10vw, white calc(100% - 10vw), transparent);
  }

}

// -----------------------------------------------------------------------------
// Global resets and basic layout styling. PLEASE IGNORE!
// -----------------------------------------------------------------------------

html { 
  height : 100%; 
}

body { 
  display          : flex;
  min-height       : 100%;
  place-content    : center; 
  place-items      : center; 
  background-color : #060606;
  gap              : 1em;
  font             : normal 400 clamp(1rem, 2vw, 1.1875rem)/1.6 "Open Sans", sans-serif;
  background : black repeating-linear-gradient(
    -45deg,
    rgba(#666B7A, 0.2),
    rgba(#666B7A, 0.2) 1px,
    rgba(#666B7A, 0.3) 1px,
    rgba(#666B7A, 0.3) 20px
   )
} 

